.header {
    background-color: beige; 
    color: black; 
    text-align: center; 
    padding: 20px; 
    border-radius: 20px; 
    font-weight: bold; 
    font-size: 34px; 
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;

    font-family: "loos-normal", sans-serif;
font-weight: 700;
font-style: normal;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    width: 250px;
    height: 400px;
    margin: 0 10px;
    perspective: 1000px;
    cursor: pointer;
    border: none;
    border-radius: 20px; 
}

.card.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 999;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
  
    transition: none;
}

.card.flipped .card-inner {
    transform: rotateY(-180deg);
    transition: transform 0.8s; 
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.card-face.back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 10px 0;
    }
}

.images-container {
    margin-bottom: 20px; 
}

.images-container img {
    width: 200px;
    height: auto;
    margin-bottom: 10px; 
}

.careeroverview {
    font-size: small;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 20px; 
}
.edurequirement {
    font-size: medium;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px; 
}


.earning-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    padding-top: 10%;
}
.earning-list {
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.career {
    font-weight: lighter;
    font-size: small;
}

.card-face.care {
    background-position: center;
    background-size: cover;
}

.card-face.edu {
    background-position: center;
    background-size: cover;
}

.card-face.earn {
    background-position: center;
    background-size: cover;
}

body{
    height:100vh;
    margin: 0;
    --x: calc(var(--posX, 0) * 1px);
    --y: calc(var(--posY, 0) * 1px);
    background-image: 
      linear-gradient(115deg, rgb(211 255 215), rgb(0 0 0)), 
      radial-gradient( 90% 100% at calc( 50% + var(--x)) calc( 0% + var(--y)), rgb(200 200 200), rgb(022 000 045)), 
      radial-gradient(100% 100% at calc( 80% - var(--x)) calc( 0% - var(--y)), rgb(250 255 000), rgb(036 000 000)), 
      radial-gradient(150% 210% at calc(100% + var(--x)) calc( 0% + var(--y)), rgb(020 175 125), rgb(000 010 255)), 
      radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(255 077 000), rgb(000 200 255)), 
      linear-gradient(60deg, rgb(255 000 000), rgb(120 086 255));
    background-blend-mode: overlay, overlay, difference, difference, difference, normal;
    overflow: hidden;
  }

  .navbar-toggler {
    border-color: black;
    background-color: white;
  }


  .images-container-edu {
    margin-bottom: 20px; 
}

.images-container-edu img {
    width: 250px;
    height: auto;
    margin-bottom: 10px; 
}

.images-container-earning {
    margin-bottom: 20px; 
}

.images-container-earning img {
    width: 260px;
    height: auto;
    margin-bottom: 10px; 
}

.card:hover {
    box-shadow: 0 0 10px 5px white; 
    transition: box-shadow 0.3s ease; 
}

.disclaimer {
    font-weight: lighter;
}

@media (max-width: 768px) {
    .images-container-edu img {
        width: 150px;
    }

}

.font { font-family: "roca", sans-serif;
    font-weight: 400;
    font-style: normal;
}